#header {
    width: 100%;
    position: relative;
    z-index: 3;
    .row1 {
        width: 100%;
        height: 36px;
        position: relative;
        z-index: 3;
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto; //가운데 정렬
            display: flex;
            justify-content: flex-end;
            align-items: center;
           > ul {
                display: flex;
                 > li {
                    font-size: 12px;
                    text-align: center;
                    position: relative;
                    > a {
                        color: #333;
                        &.on {
                            color: #5f0080;
                        }
                    }
                    i {
                        color: #ccc;
                        margin: 0 12px
                    }
                    .notice-box {
                        position: absolute;
                        top: 20px; // 글자 높이가 있으니까 공간 확보
                        right: 0;
                        width: 130px;
                        border: 1px solid #ccc;
                        background: #fff;
                        ul {
                            padding: 10px;
                            li {
                                a {
                                    display: flex;
                                    height: 20px;
                                    align-items: center;
                                    color: #444;
                                    font-size: 13px;
                                    &:hover {
                                        color: #5f0080;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .row2 {
        width: 100%;
        height: 64px;
        background:#fff;
        position: relative;
        z-index: 2;
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto; //가운데 정렬
            display: flex;
            align-items: center;
            .left {
                width: 325px;
                display: flex; //너희 헤쳐모여
                > h1 {
                    a {
                        cursor: default;
                        img {
                            width: 82px;
                        }
                        strong {
                            cursor: pointer;
                            margin: 0 0 0 15px;
                            font-size: 18px;
                            font-weight: 600;
                            color: #5f0080;
                        }
                        
                    }
                }
                > span {
                    display: flex;
                    align-items: center;
                    i {
                        margin: 0 10px;
                        color: #ccc;
                    }
                }
                > a {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 18px;
                        font-weight: 600;
                        color: #bbb;
                        img {
                            vertical-align: top; //맨위로 정렬해라
                            margin: 0 0 0 3px;
                        }
                    }
                }
            }
            .center {
                width: 400px;
                position: relative;
                input {
                    width: 100%;
                    height: 48px; //보더 포함
                    border: 1px solid #5f0080;
                    border-radius: 6px;
                    background:#fff;
                    z-index: 1;
                    position: relative;
                    font-size: 16px;
                    padding: 0 15px;
                    &:focus {
                        outline: 0;
                    }
                    &::placeholder {
                        color: #ccc;
                    }
                    &.on {
                        
                    }
                }
                
                &.on {
                    width: 240px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    margin-right: -525px + 180px;
                    position: fixed;
                    right: 50%;
                    top: 0;
                    input {
                        height: 35px;
                        border: 0;
                        background-color:#f7f7f7;
                        &::placeholder {
                            font-size: 12px;
                            color: #aaa;
                        }
                    }
                }
                    a {
                        position: absolute;
                        right: 5px ;
                        // margin-top: 15px;
                        top: 10px; //가운데 정렬
                        z-index: 2;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        img {
                            width: 30px;
                        }
                    }
            }
            .right {
                width: 325px ;
                text-align: right;
                position: relative;
                &.on {
                    width: auto;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    position: fixed;
                    right: 50%;
                    margin-right: -525px; //(먼저)오른쪽 끝 선을 50퍼 하면 가운데로 오고 거기에  사용하는 넓이의 반을 빼면 됨 1050/2 나누면 525~ 
                    top: 0;
                }
                a {
                    margin: 0 0 0 20px;
                    img {
                        width: auto;
                    }
                }
                .map-box {
                    width: 267px;
                    height: auto;
                    border: 1px solid #ccc ;
                    padding: 20px;
                    position: absolute;
                    top: 50px ; 
                    right: 0 ;
                    background: #fff; //화면 넣어야 함 아님 투명ㅇㅣ 되어버려
                    text-align: left;
                    line-height: 150%;
                    font-size: 15px;
                    
                    &::before {
                        content: '';
                        width: 36px;
                        height: 36px;
                        position: absolute;
                        top: -36px ; //이미지랑 겹치면서 선이 안 보여야 함!!
                        left: 50%;
                        margin-left: -15px;
                        background: url(../../../public/img/intro/icon_up_arrow.svg) no-repeat 50% 100%; //가운데, 아래

                    }
                    p {
                        padding-bottom: 15px;
                        strong {
                            color: #5f0080;
                        }
                    }
                        .btn-box {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            font-size: 13px;
                            position: relative;
                            button {
                                height: 36px;
                                border-radius:3px;
                                display: flex;
                                cursor: pointer;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 20px;
                                }
                                &.login-btn {
                                    width: 80px;
                                    background: #fff;
                                    color: #5f0080;
                                    border: 1px solid #5f0080;
                                }
                                &.addr-search-btn {
                                    width: 135px;
                                    background: #5f0080;
                                    color: #fff;
                                    border: 1px solid #5f0080;
                                }
                            }
                        }
                    
                }
            }
        }
    }
    .row3 {
        width: 100%;
        height: 56px;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08); //0으로 하면 직각임 
        &.on {
            position: fixed;
            top: 0;
            left: 0;

        }
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto; //가운데 정렬
            display: flex;
            align-items: center;
            .left {
                width: 225px;
                &.on {
                    width: 125px;
                }
                a {
                    img {
                        width: auto;
                    }
                    strong {
                        font-size: 16px;
                        color: #333;
                        font-weight: 600;
                        margin-left: 10px;
                    }
                    &:hover {
                        color: #5f0080;
                        strong {
                            color: #5f0080;
                        }
                    }
                }
            }
            .center {
                width: 600px;
                &.on {
                    width: 450px;
                }
                ul {
                    display: flex;
                    li {
                        width: 25%; //4개니께
                        text-align: center;
                        a {
                            font-size: 16px;
                            font-weight: 600;
                            color: #333;
                            &:hover {
                                color: #5f0080;
                                text-decoration: underline;
                            }
                            &.on {
                                color: #5f0080;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .right {
                width: 225px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &.on {
                    display: none;
                }
                a {
                    font-size: 13px;
                    display: flex; //정렬
                    width: 146px;
                    height: 32px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    border-radius: 16px;
                    strong {
                        color: #5f0080;
                    }
                    span {
                        color: #999;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}