.sub {
    width: 100%;
    background: #fff;
    #section1 {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1068px; // 그럼 다 이렇게 하나요?? ㄴㄴ 여백 있는 경우에만 
            margin: 0 auto;
            .content {
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    #section2 {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            .title {
                width: auto;
                padding: 0 0 60px 0;
                margin: 0 9px;
                h2 {
                    font-size: 24px;
                    text-align: center;
                    color: #000;
                    font-weight: 600;
                }
            }
            .content {
                width: 100%;
                display: flex;
                .left {
                    width: 25%;
                    position: sticky; //일정 구간까진 그냥 가다가 고정되게 만듦
                    top: 80px;
                    left: 0;
                    height: 100vh; //창전체높이
                    overflow-y: auto; // 내용이 안 많으면 스크롤 안 생기고 내용 많으면 스크롤 생겨라~
                    padding-bottom: 50px;

                    //스크롤박스 UI 조정
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    &::-webkit-scrollbar-track {//휠 전체 모양
                        background: #fff;
                    }
                    &::-webkit-scrollbar-thumb {//스크롤 막대
                        background-color: #c00;
                    }
                    .col-gap {
                        width: auto;
                        margin: 0 9px;
                        .top {
                            padding-bottom: 20px;
                            display: flex;
                            justify-content: space-between; //양쪽 끝으로
                            strong {
                                font-size: 15px;
                                font-weight: 600;
                                color: #333;
                            }
                            a {
                                img {
                                    color: auto;
                                }
                                em {
                                    color: #ddd;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .category {
                            user-select: none;
                            width: 100%;
                            > ul {
                                width: 100%;
                                padding-bottom: 10px;
                                > li {
                                    width: 100%;
                                    border-top: 1px solid #ddd;
                                    > a {
                                        width: 100%;
                                        display: flex;
                                        height: 52px;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #333;
                                        position: relative;
                                        &::after { // 화살표를 바꾸려면 위에 a 태그까지 싹 바꿔야 해서 가상태그 맨들어줌
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            content: '';
                                            display: block;
                                            width: 18px;
                                            height: 100%;
                                            background:url(../../../../public/img/sub/sub1/up_arrow.svg) no-repeat 100% 50%;
                                            background-size: 18px auto;
                                            transition: 0.3s;
                                        }
                                        &.on::after { //on이 들어간 상태에서 afterd의 차이를 줌 (화살표 때문에 !!)
                                            transform: rotate(180deg);
                                        }
                                    }
                                    .sub {
                                        width: 100%;
                                        margin-bottom: 10px;
                                        height: 0;
                                        overflow: hidden;
                                        &.sub1 {
                                            &.on {
                                                animation: subAni1on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni1off 0.3s ease-in-out both;
                                            }
                                        }
                                        &.sub2 {
                                            height: 194px;
                                            &.on {
                                                animation: subAni2on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni2off 0.3s ease-in-out both;
                                            }
                                        }
                                        &.sub3 {
                                            &.on {
                                                animation: subAni3on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni3off 0.3s ease-in-out both;
                                            }
                                        }
                                        &.sub4 {
                                            &.on {
                                                animation: subAni4on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni4off 0.3s ease-in-out both;
                                            }
                                        }
                                        &.sub5 {
                                            &.on {
                                                animation: subAni5on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni5off 0.3s ease-in-out both;
                                            }
                                        }
                                        &.sub6 {
                                            &.on {
                                                animation: subAni6on 0.3s ease-in-out both;
                                            }
                                            &.off {
                                                animation: subAni6off 0.3s ease-in-out both;
                                            }
                                        }
                                        @keyframes subAni1on {
                                            0%   { height: 0;}
                                            100% { height: 410px;}
                                        }
                                        @keyframes subAni1off {
                                            0%   { height: 410px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes subAni2on {
                                            0%   { height: 0;}
                                            100% { height: 400px;}
                                        }
                                        @keyframes subAni1off {
                                            0%   { height: 400px;}
                                            100% { height: 0;}
                                        
                                        }
                                        @keyframes subAni3on {
                                            0%   { height: 0;}
                                            100% { height: 122px;}
                                        }
                                        @keyframes subAni3off {
                                            0%   { height: 122px;}
                                            100% { height: 0;}
                                        
                                        }
                                        @keyframes subAni4on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes subAni4off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        
                                        }
                                        @keyframes subAni5on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes subAni5off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        }
                                        
                                        @keyframes subAni6on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes subAni6off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        }
                                        ul {
                                            width: 100%;
                                            li {
                                                width: 100%;
                                                height: 36px;
                                                line-height: 18px;
                                                
                                                label { //라벨
                                                    padding: 10px 0;
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color: #333;
                                                    margin-left: 6px;
                                                    display: block; //  한줄 쭉 a로
                                                    cursor: pointer;
                                                    &:hover {
                                                        color: #5f0080;
                                                    }
                                                    input[type='checkbox'] {
                                                        width: 18px;
                                                        height: 18px;
                                                        appearance: none; //사각형 싫어요~
                                                        border-radius: 50%;
                                                        background: url(../../../../public/img/sub/sub1/check_off.svg) no-repeat 50% 50% ;
                                                        margin-right: 6px;
                                                        &:checked {
                                                            background: url(../../../../public/img/sub/sub1/check_on.svg) no-repeat 50% 50% ;
                                                        }
                                                    }
                                                    em {
                                                        font-size: 12px;
                                                        color: #ccc;
                                                        font-weight: normal;
                                                        margin-left: 5px;
                                                        vertical-align: top; //라벨이랑 높이 달랐는데 이거 써서 올라감 
                                                    }
                                                }
                                            }
                                        }
                                        .category-more-view-btn {
                                            width: 100%;
                                            height: 30px;
                                            color: #333;
                                            font-size: 12px;
                                            background: none;
                                            border: 0;
                                            cursor: pointer;
                                            img {
                                                transform: rotate(-90deg) translateX(2px); //위 아래인데 왜 X에요 ?? 트랜스폼한 거 뿐 원래 모양 기준으로 옮겨주기 
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                .right {
                    width: 75%;
                    .top {
                        padding: 0 9px 15px 9px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        .top-left {
                            strong {
                                color: #333;
                            }
                        }
                        .top-right {
                            a {
                                color: #999;
                                margin-left: 17px;
                                img {
                                    width: auto;
                                }
                                &.on {
                                    color: #000;
                                }
                            }

                        }
                    }
                    > ul {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap; // 
                        > li {
                            width: 33.333%;
                            
                            .col-gap {
                                width: auto;
                                margin: 0 9px 60px 0;
                                >div {
                                    width: 100%;
                                    &.img-box {
                                        overflow: hidden;
                                        width: 100%;
                                        cursor: pointer;
                                        img {
                                            width: 100%;
                                            transition: all 0.3s;
                                        }
                                        &:hover {
                                            img {
                                                transform: scale(1.05);
                                            }
                                        }
                                    }
                                    &.button-box {
                                        width: 100%;
                                        padding: 10px 0;
                                        a {
                                            width: 100%;
                                            display: flex;
                                            font-size: 16px;
                                            color: #333;
                                            justify-content: center;
                                            align-items: center;
                                            height: 36px;
                                            border: 1px solid #ccc;
                                            font-weight: 500;
                                            img {
                                                width: auto;
                                            }
                                        }
                                    }
                                    &.txt-box {
                                        width: 100%;
                                        ul {
                                            width: 100%;
                                            line-height: 180%;
                                            li {
                                                width: 100%;
                                                a {
                                                    display: flex;
                                                    em {
                                                        font-size: 14px;
                                                        color: #999;
                                                    }
                                                    h2 {
                                                        letter-spacing: -0.7px;
                                                        font-size: 16px;
                                                        color: #333;
                                                        font-weight: 500;
                                                    }
                                                    h3 {
                                                        font-size: 12px;
                                                        color: #999;
                                                    }
                                                    h4 {
                                                        font-size: 14px;
                                                        color: #999;
                                                        text-decoration: line-through;
                                                    }
                                                    strong {
                                                        font-size: 16;
                                                        color: #fa622f;
                                                        font-weight: 600;
                                                    }
                                                    h5 { font-size: 16;
                                                        color: #333;
                                                        font-weight: 600;
                                                        margin-left: 10px;
                                                    }
                                                    h6 {
                                                        font-size: 12px;
                                                        color: #5f0080;
                                                        font-weight: 600;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}