#section1 {
    width: 100%;
    .slide-container {
        width: 100%;
        position: relative;
        .slide-view {
            width: 100%;
            z-index: 1;
            position: relative;
            overflow: hidden;
            .slide-wrap {
                width: 100% * 19;
                display: flex;
                margin-left: -100% * 1;
                .sldie {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        button {
            z-index: 2;
            width: 52px;
            height: 52px;
            border: 0;
            background: none;
            position: absolute;
            top: 50%;
            margin-top: -26px;
            cursor: pointer;
            transition: all 1s;
            opacity: 0;
            &.arrow-next-btn {
                right: 16%;
            }
            &.arrow-prev-btn {
                transform: rotate(180deg);
                left: 16%;
            }

        }
        &:hover {
            button {
                opacity: 1;
            }
        }
        .page-num-box {
            z-index: 2;
            position: absolute;
            bottom : 30px ;//선생님 눈짐작
            right: 25%;
            background: rgba(0, 0, 0, 0.2);
            padding: 0 15px; //눈짐작
            border-radius:  11px;
            height: 26px;
            display: flex;
            align-items: center;
            color: #fff;
            span {
                font-size: 13px;//ㄵㅈ
            }
        }
    }
}